/* @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  line-height: 1.5;
  color: #607080;
  background-color: #f2f7ff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} */